.message {
    position: sticky;
    bottom: 10;
    right: 40;
}

/* position: fixed;
  bottom: 0;
  right: 0;
  background: #00D1AE;
  opacity: 0.8;
  color: #111;
  border: 3px solid #00D1AE;
  font-weight: bold;
  padding: 10px;
  width: 500px; */